.quiz_info_card_container{
    padding: 20px;
    width: 80%;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.quiz_info_card_category , .quiz_info_card_tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.quiz_info_card_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.quiz_info_card_row1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    gap: 20px;
    width: 80%;
}