.text_container_2{
    width: 100%;
    background-color: whitesmoke;
    min-height: 10px;
    padding: 10px;
    border-radius: 7px;
}
.text_container_2 p{
        color: black;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 500;
    
}