body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
    --bg-color1: #e0f0ea;
    --bg-color2: #95adbe;
    --bg-color3: #574f7d;
    --bg-color4: #503a65;
    --bg-color5: #3c2a4d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

/* Scroll bar styling */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border: 1px solid var(--bg-color1); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color2); 
}